<h1><%= t ".help1" %></h1>
<p>
  <%= t ".help" %>
  <%= t(".h2",rort: link_to(t(".rort"),"http://www.railstutorial.org/help"),rort2: link_to(t(".rort2"),"http://www.railstutorial.org/")).html_safe %>
</p>
